@model IEnumerable<EcommerceProduct.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 col_tojp  main-right">
    <div class="row row_3kdz  row-style ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_hbs4 col-style">
            <div class="module so-listing-tabs-ltr listingtab-layout1">
                <h3 class="modtitle">
                    <a href="https://opencart.opencartworks.com/themes/so_emarket/index.php?route=custom/featured"><span>Trending items</span></a>
                </h3>
                <div class="modcontent">
                    <div id="so_listing_tabs_69" class="so-listing-tabs first-load module">
                        <div class="ltabs-wrap ">
                            <div class="ltabs-tabs-container" data-delay="500" data-duration="800" data-effect="none" data-ajaxurl="https://opencart.opencartworks.com/themes/so_emarket/" data-type_source="0" data-type_show="slider">
                                <div class="ltabs-tabs-wrap">
                                    <span class="ltabs-tab-selected">
                                        All
                                    </span>
                                    <span class="ltabs-tab-arrow">▼</span>
                                    <ul class="ltabs-tabs cf list-sub-cat font-title">

                                        <li class="ltabs-tab   tab-sel tab-loaded  tab-all" data-category-id="*" data-active-content-l=".items-category-all">
                                            <span class="ltabs-tab-label">
                                                All
                                            </span>
                                        </li>
                                        <li class="ltabs-tab  " data-category-id="67" data-active-content-l=".items-category-67">
                                            <span class="ltabs-tab-label">
                                                Bathroom
                                            </span>
                                        </li>
                                        <li class="ltabs-tab  " data-category-id="68" data-active-content-l=".items-category-68">
                                            <span class="ltabs-tab-label">
                                                Bedroom
                                            </span>
                                        </li>
                                        <li class="ltabs-tab  " data-category-id="27" data-active-content-l=".items-category-27">
                                            <span class="ltabs-tab-label">
                                                Decor
                                            </span>
                                        </li>
                                        <li class="ltabs-tab  " data-category-id="65" data-active-content-l=".items-category-65">
                                            <span class="ltabs-tab-label">
                                                Furniture
                                            </span>
                                        </li>
                                        <li class="ltabs-tab  " data-category-id="26" data-active-content-l=".items-category-26">
                                            <span class="ltabs-tab-label">
                                                Living room
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wap-listing-tabs products-list grid">
                                <div class="ltabs-items-container">
                                    <div class="products-list ltabs-items  ltabs-items-selected ltabs-items-loaded items-category-all" data-total="16">
                                        <div class="ltabs-items-inner owl2-carousel  ltabs-slider owl2-theme owl2-loaded">
                                            <div class="owl2-stage-outer">
                                                <div class="owl2-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1586.4px;">
                                                    @foreach (var item in Model)
                                                    {
                                                        <div class="owl2-item active" style="width: 264.4px; margin-right: 0px;">

                                                            <div class="ltabs-item ">
                                                                <div class="item-inner product-layout transition product-grid">
                                                                    <div class="product-item-container">
                                                                        <div class="left-block">
                                                                            <div class="product-image-container  second_img 	">
                                                                                <a href="#" target="_self" title="@item.ShortDesciption">
                                                                                    <img data-sizes="auto" src="" class="img-1 lazyautosizes lazyloaded" alt="Sausage cowbee" sizes="234px">
                                                                                    <img data-sizes="auto" src="" class="img-2 lazyautosizes lazyloaded" alt="Sausage cowbee" sizes="235px">
                                                                                </a>
                                                                            </div>
                                                                            <div class="box-label">
                                                                            </div>
                                                                            <div class="button-group so-quickview cartinfo--left">
                                                                                <button class="addToCart btn-button" 
                                                                                        type="button" title="Add to cart" style="cursor: default; background-color: #eee; color: #ccc;">
                                                                                <i class="fa fa-shopping-basket"></i><span>Add to cart</span></button>
                                                                                <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="">
                                                                                <i class="fa fa-heart"></i><span>Add to Wish List</span></button>
                                                                                <button type="button" class="compare btn-button" title="Add to cart" onclick="addProduct();">
                                                                                <i class="fa fa-refresh"></i><span>Add to Cart</span></button>
                                                                                <a class="hidden" data-product="74" href="" target="_self"></a>
                                                                                <a class="visible-lg btn-button quickview quickview_handler" href="" title="Quick view" data-title="Quick view" data-fancybox-type="iframe">
                                                                                <i class="fa fa-eye"></i><span>Quick view</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="right-block">

                                                                            <div class="caption">
                                                                                <h4><a href="#" title="Sausage cowbee" target="_self">@item.ShortDesciption</a></h4>

                                                                                <div class="rating">
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                </div>

                                                                                <div class="price">

                                                                                    <a data-fancybox="" data-type="ajax" data-src="" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold;"><i class="fa fa-phone"></i> Call for Price</a>

                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    </div>
                                            </div><div class="owl2-controls"><div class="owl2-nav"><div class="owl2-prev" style=""></div><div class="owl2-next" style=""></div></div><div class="owl2-dots" style="display: none;"></div></div>
                                        </div>
                                    </div>
                                    <div class="products-list ltabs-items  items-category-67" data-total="13">
                                        <div class="ltabs-loading"></div>

                                    </div>
                                    <div class="products-list ltabs-items  items-category-68" data-total="12">
                                        <div class="ltabs-loading"></div>

                                    </div>
                                    <div class="products-list ltabs-items  items-category-27" data-total="12">
                                        <div class="ltabs-loading"></div>

                                    </div>
                                    <div class="products-list ltabs-items  items-category-65" data-total="10">
                                        <div class="ltabs-loading"></div>

                                    </div>
                                    <div class="products-list ltabs-items  items-category-26" data-total="12">
                                        <div class="ltabs-loading"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <script>
        function addProduct() {
            $("#item_cart").text(1);
            var table = "<li class='content-item'><table class='table table-striped' style='margin-bottom:10px;'>";
            table += "<tr><td>Coke</td><td>1$</td><tr></table></li>";
            $(".shoppingcart-box").append(table);
        }
    </script>

