/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.vertical-wrapper {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out 0s;
}
.container-megamenu.vertical .vertical-wrapper .megamenu-pattern {
    position: relative;
    z-index: 1;
}
@media (min-width: 992px) {
    .container-megamenu.vertical .vertical-wrapper ul.megamenu {
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
        background-color: #fff;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
            color: #666;
            display: block;
            font-size: 14px;
            font-weight: 400;
            padding: 9px 0;
            line-height: 22px;
            position: relative;
            text-transform: capitalize;
            background: none;
            height: auto;
        }
}
.megamenu-style-dev .vertical ul.megamenu {
    position: absolute;
    width: 100%;
    background: #222;
    z-index: 99;
}

ul.megamenu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.vertical ul.megamenu > li > a {
    color: #556270;
    text-shadow: none;
    background: none !important;
    height: auto !important;
    margin: 0 1px;
}

